.nav {
  height: 100px;
  background: white;
  position:fixed;
  top: 0px;
  width: 100%;
  z-index: 19999;
  border-bottom: #F0FFFF solid 1px;
  padding: 5px;
}

a {
  float: right;
  margin-top: 29px;
  margin-left: 15px;
  font-size: 180%;
}
img {
  float: left;
}
#logo {
  height: 70%;
  margin-left: 7%;
  margin-top: 14px;

}
#navLinks {
  margin-right: 100px;
}
