.nav {
  height: 70px;
  background: url('http://www.easyfreepatterns.com/patterns/3/-light-blue-hand-drawn-pattern-waves-background-seamless-3963.jpg');
  background-size: 200px;
  position:fixed;
  top: 0px;
  width: 100%;
  z-index: 19999;
  border-bottom: black solid 2px;
  padding: 5px;
}

a {
  float: right;
  /*margin-top: 29px;*/
  margin-left: 15px;
  font-size: 180%;
}
img {
  float: left;
}
#logo {
  height: 70%;
  margin-left: 7%;
  margin-top: 0.5%;

}
#navLinks {
  margin-right: 100px;
  margin-top: 0.5%;
}
#canadaEH {
  width: 70px;
  float: right;
  /*margin-top: 28px;*/
  margin-left: 14px;
}

.shrink {
  height: 10px;
}
.nav{
  background-color:#ccc;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
